<!DOCTYPE html>
<html>

<%- include('partials/head') %>

    <body>

        <%- include('partials/header') %>

            <main>
                <section class="conteiner-formulario">
                    <h2 class="altaProducto">Alta de Producto</h2>
                    <form class="container-form" name="image" action="/productos/store" method="POST" enctype="multipart/form-data" novalidate>
                        <div class="separador">
                            <label for="name">Nombre</label>
                            <div class="container-input">
                                <input type="text" name="name">
                            </div>

                        </div>

                        <div class="separador">
                            <label for="image">Imagen</label>
                            <div class="container-input">
                                <input type="file" name="image" multiple required>
                            </div>
                        </div>

                        <div class="separador">
                            <label for="price">Precio</label>
                            <div class="container-input">
                                <input type="text" name="price" required>
                            </div>
                        </div>

                        <div class="separador">
                            <label for="description">Descripcion</label>
                            <div class="container-input">
                                <input type="text" name="description" required>
                            </div>
                        </div>

                        <div class="separador">
                            <label for="descuento">Descuento</label>
                            <div class="container-input">
                                <input type="text" name="discount">
                            </div>
                        </div>

                        <div class="separador">
                            <label for="brand">Marca</label>
                            <select id="brand" name="brand">
                                <% for (let i = 0; i < productBrand.length; i++){ %>
                                    <option value=<%= productBrand[i].dataValues.id %>><%= productBrand[i].dataValues.name %></option>
                                <% } %>
                            </select>

                        </div>

                        <div class="separador">
                            <label for="category">Categoria</label>
                            <select id="category" name="category">
                                <% for (let i = 0; i < productCategory.length; i++){ %>
                                    <option value=<%= productCategory[i].dataValues.id %>><%= productCategory[i].dataValues.name %></option>
                                <% } %>
                            </select>
                        </div>

                        <div class="separador">
                            <label for="color">Color</label>
                            <select name="color" id="color">
                                <% for (let i = 0; i < productColor.length; i++){ %>
                                    <option value=<%= productColor[i].dataValues.id %>><%= productColor[i].dataValues.name %></option>
                                <% } %>
                            </select>
                        </div>

                        <div class="separador">
                            <div class="container-input">
                                <button type="submit" class="crear">Crear producto</button>
                            </div>
                        </div>
                    </form>

    </body>

</html>